{% extends "base.html" %}
{% block title %}
   | A free online tool to help determine daily macronutrient goals for your lifestyle
{% endblock %}

{% block extra_meta %}
   <meta property="og:url" content="https://www.macroblaster.online">
   <meta property="og:description" content="A free online tool to calculate your daily macronutrient intake.">
{% endblock %}

{% block content %}

<main id="results">
   <button class="share_button" data-page="index" id="shareMacroBlaster" aria-label="Share Macro Blaster">
      <i class="fas fa-share-alt"></i>
      Share
   </button>
   <br>
      <h2>
         Calculate your macros here ...
      </h2>
         <form id="macro-form">
            <p>
               ARE YOU ...
            </p>
               <button class="gender_button male" id="male">
                        &nbsp;&nbsp;MALE&nbsp;&nbsp;
               </button>
               <button class="gender_button female" id="female">
                        FEMALE
               </button>
            <p>
               DO YOU WANT TO ...
            </p>
               <button class="goal_button cut" id="cut">
                        &nbsp;&nbsp;LOSE WEIGHT&nbsp;&nbsp;
               </button>
               <button class="goal_button maintain" id="maintain">
                        STAY THE SAME
               </button>
               <button class="goal_button bulk" id="bulk">
                        &nbsp;BUILD MUSCLE&nbsp;
               </button>
            <p>
               PLEASE ENTER YOUR ...
            </p>
               <div class="select_box">
                  <label for="age">
                     AGE
                  </label>
                     <br>
                        <select id="age" name="age">
                           <option value="">Select</option>
                        </select>
               </div>
               <div class="select_box">
                  <label for="height">HEIGHT</label>
                     <br>
                        <select id="height" name="height">
                           <option value="">Select</option>
                        </select>
               </div>
               <div class="select_box">
                  <label for="weight">
                     WEIGHT
                  </label>
                     <br>
                        <select id="weight" name="weight">
                           <option value="">Select</option>
                        </select>
               </div>
            <p>
               WHAT IS YOUR EXERCISE LEVEL ...
            </p>
               <button class="activity_button none" id="none">
                     NONE<br>Little<br>to no<br>&nbsp;exercise&nbsp;
               </button>
               <button class="activity_button light" id="light">
                     LIGHT<br>&nbsp;1-3 days&nbsp;<br>per<br>week
               </button>
               <button class="activity_button medium" id="medium">
                     MEDIUM<br>&nbsp;3-5 days&nbsp;<br>per<br>week
               </button>
               <button class="activity_button high" id="high">
                     HIGH<br>&nbsp;6-7 days&nbsp;<br>per<br>week
               </button>
               <button class="activity_button extreme" id="extreme">
                     EXTREME<br>Exercise<br>and<br>active job
               </button>
                  <br>
                     <input type="submit" id="submit" value="GET macros">
         </form>  
</main>
  
{% endblock %}