{% extends "base.html" %}
{% block title %}
   | Press Releases
{% endblock %}

{% block extra_meta %}
   <meta property="og:url" content="https://www.macroblaster.online/press_releases">
   <meta property="og:description" content="A free online tool to calculate your daily macronutrient intake.">
{% endblock %}

{% block content %}

<article>
    <h3>
      Press Releases
   </h3>
      <br>
         <time datetime="2025-03-31T10:00">
            10:00, Monday 31 March 2025
         </time>
      <br>
            <a href="#" target="_blank" aria-label="macroBLASTER LAUNCHES TOOL TO SUPPORT HEALTHY LIFESTYLE. File opens in new tab">
               <span class="do-hyeon-regular">macro<span class="blaster">BLASTER</span></span> LAUNCHES TOOL TO SUPPORT HEALTHY LIFESTYLE
            </a>
</article>

{% endblock %}