{% extends "base.html" %}
{% block title %}
   | User Agreement
{% endblock %}

{% block extra_meta %}
   <meta property="og:url" content="https://www.macroblaster.online/user_agreement">
   <meta property="og:description" content="A free online tool to calculate your daily macronutrient intake.">
{% endblock %}

{% block content %}

<article>
   <h3>
      User Agreement
   </h3>
      <p>
         This user agreement issued by <span class="do-hyeon-regular">macro<span class="blaster">BLASTER</span></span> to users of this website. They shall continue in perpetuity. All users must indicate their 
         acceptance of this Agreement before using the website. If users do not agree with any part of these terms they must refrain from using the website.
            <br>
            <br>
         These terms should be viewed in conjunction with our 
         <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>.
            <br>
            <br>
         <span class="do-hyeon-regular">macro<span class="blaster">BLASTER</span></span> reserve the right to amend or withhold our services without notice.
            <br>
            <br>
         We accept no legal responsibility for any events caused to users when accessing this site. Although we make concerted efforts, we cannot guarantee 
         that the website will always be free from viruses. As such, we are not liable for any loss or damage caused to your computer equipment, programs or 
         data. It is the user's responsibility to ensure the security of their internet connection.
            <br>
            <br>
         Users may not interfere with, damage or disrupt any part of this website.
      </p>
         <h4>
            THIRD PARTY CONTENT
         </h4>
            <p>
               Some sections of this website contain links to reputable service providers, which users of <span class="do-hyeon-regular">macro<span class="blaster">BLASTER</span></span> may find of interest. <span class="do-hyeon-regular">macro<span class="blaster">BLASTER</span></span> is not 
               responsible for these service providers, their websites or the content displayed there in. For any enquiries relating to to third party websites, 
               products or services, please contact the service provider directly.
            </p>
               <h4>
                  COMMERCIAL CONTENT
               </h4>
                  <p>
                     <span class="do-hyeon-regular">macro<span class="blaster">BLASTER</span></span> is the owner or licensee of all intellectual property rights disclosed on the Site. All rights are reserved and protected by 
                     copyright laws worldwide.
                        <br>
                        <br>
                     <span class="do-hyeon-regular">macro<span class="blaster">BLASTER</span></span> asserts their right to be acknowledged as the owners of the material on the website.
                        <br>
                        <br>
                     The information contained on this website is provided expressly for the purpose of informing the reader of <span class="do-hyeon-regular">macro<span class="blaster">BLASTER</span></span>'s commercial intentions.
                        <br>
                        <br>
                     In accessing the website, users acknowledge and agrees that:
                  </p>
                     <ol>
                        <li>
                           Its content must not be duplicated or distributed in any way without prior permission from <span class="do-hyeon-regular">macro<span class="blaster">BLASTER</span></span>
                        </li>
                        <li>
                           Content may not be download and altered in any way
                        </li>
                     </ol>
</article>

{% endblock %}